<!--

<p #title>
  user works!
</p>

-->


<!--

<app-user-header></app-user-header>
-->
<!--
<app-user-name username="hans"></app-user-name>
<app-user-name username="peter"></app-user-name>
<app-user-name username="frank"></app-user-name>
<app-user-name username="heike"></app-user-name>
-->
<app-user-name
  *ngFor="let usrname of userList; index as usrIndex; odd as oddBool; even as evenBool"
  [username]="usrname | uppercase | slice:3:9 | firstPipe : '?'"
  appHelloWorld
  [ngClass]="{oddclass: oddBool, evenclass: evenBool}"
  (selectedUsr)="deleteUsrByIndex( usrIndex )"
></app-user-name>
<!--
<app-user-name
  *ngFor="let usrname of userList; index as usrIndex; odd as oddBool; even as evenBool"
  [username]="usrname"
  [class.oddclass]="oddBool"
  [class.evenclass]="evenBool"
  (selectedUsr)="deleteUsrByIndex( usrIndex )"
></app-user-name>
-->


<!--

<ng-template ngFor [ngForOf]="userList" let-usrname>
  <app-user-name [username]="usrname"></app-user-name>
</ng-template>

-->
