

<pta-user-list-header *ngIf="header" [title]="header"></pta-user-list-header>

<section>
  <header *ngIf="selectedUser">selected user:= {{selectedUser}}</header>
</section>

<pta-user [username]="userName1"
          (usernameChange)="updateSelection($event)"
          [selected]="userName1===selectedUser"
></pta-user>

<pta-user *ngIf="userName2"
          [username]="userName2"
          (usernameChange)="updateSelection($event)"
          [selected]="userName2===selectedUser"
></pta-user>


