:host {


  baywa-user-title {
    display: block;
  }

  .underlined {
    text-decoration: underline;
  }

  .blue {
    color: blue;
  }

  .hide {
    display: none;
  }

  .green {
    color: green;
  }

}
