
<!--
<div [innerText]="1+1"></div>

<img [attr.src]="imgUrl" alt="" [style.width]="width+'px'" >
<img [attr.src]="imgUrl" alt="" [style.width.%]="width" >
<img [attr.src]="imgUrl" alt="" [style.width.em]="width" >

<template [ngIf]="imgUrl">
  <img [attr.src]="imgUrl"
       [style.width.px]="width"
       alt=""
  >
</template>
-->

<!--
<p>
  {{userList | json}}
</p>
-->

<a
  *ngFor="let usr of users$ | async; let i = index"
  [routerLink]="['/list', usr.id]"
  >
  <baywa-user
    appItalic="red"
    [ngClass]="{red: selectedInd===usr.id}"
    >
    <baywa-user-title *ngIf="usr.title">
      {{usr.title | uppercase}}
    </baywa-user-title>
    {{usr.id}} # {{usr.firstname}} {{usr.lastname}}
    <p>{{usr.birthday | date : 'yy' }}</p>

  </baywa-user>
</a>


<!--
<baywa-user [class.red]="selectedInd===0" (click)="selectUsr(0, $event)"><baywa-user-title>Herr</baywa-user-title>User 1</baywa-user>
<baywa-user [class.red]="selectedInd===1" (click)="selectUsr(1, $event)"><baywa-user-title>Herr</baywa-user-title>User 2</baywa-user>
<baywa-user [class.red]="selectedInd===2" (click)="selectUsr(2, $event)"><baywa-user-title>Herr</baywa-user-title>User 3</baywa-user>
<baywa-user [class.red]="selectedInd===3" (click)="selectUsr(3, $event)"><baywa-user-title>Herr</baywa-user-title>User 4</baywa-user>
<baywa-user [class.red]="selectedInd===4" (click)="selectUsr(4, $event)"><baywa-user-title>Herr</baywa-user-title>User 5</baywa-user>
-->

