:host {

  color: blue;
  p {
    font-weight: bold;
  }


  &.red-color {
    color: red;
  }

  &.odd {
    li {
      background-color: #65ff3c;
    }
  }

  &.even {
    li {
      background-color: #5ee43b;
    }
  }


}

