<msg-user-header>Benutzernamen:</msg-user-header>
<hr #line>

<!--
<msg-user usrId="123" (setSelectedInd)="updateInd($event)" [isSelected]></msg-user>
-->

<p>Value of disable in UserList:= {{disabled}}</p>
<p>in list {{usersList | json}}</p>
<msg-user
  *ngFor="let user of usersList; index as index; even as e"
  [usrInd]="index"
  [class.even]="e"
  [class.odd]="!e"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
  (deleteUsrInd)="deleteUsrWithInd($event)"
>{{user}} {{index}}</msg-user>
<!--

<msg-user
  usrInd="2"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 2</msg-user>

<msg-user
  usrInd="3"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 3</msg-user>

<button (click)="toggle()">toggle disable in List</button>
-->

