<msg-user-header>Benutzernamen:</msg-user-header>
<hr #line>

<!--
<msg-user usrId="123" (setSelectedInd)="updateInd($event)" [isSelected]></msg-user>
-->

<p>Value of disable in UserList:= {{disabled}}</p>
<section *ngIf="selectedUser !== null">
  <article>
    <header>
      <h1>Selected User</h1>
    </header>
    <!--<msg-user-name [user]="selectedUser"></msg-user-name>-->
    {{selectedUser | userToString : 'firstname' : 'age' : 'city'}} of company {{$user.company$ | async}}
  </article>
</section>
<msg-user
  *ngFor="let user of usersList; index as index; even as e"
  [usr]="user"
  class="large"
  [ngClass]="{even: e, odd: !e}"
  [selectedUsr]="selectedUser"
  (setAsSelected)="updateSelected($event)"
  (deleteUsr)="deleteUsrWith($event)">
  <msg-user-name [user]="user"></msg-user-name>
</msg-user>


<button (click)="createNew()">create New</button>
<!--

<msg-user
  usrInd="2"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 2</msg-user>

<msg-user
  usrInd="3"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 3</msg-user>

<button (click)="toggle()">toggle disable in List</button>
-->

