<msg-user-header>Benutzernamen:</msg-user-header>
<hr #line>

<!--
<msg-user usrId="123" (setSelectedInd)="updateInd($event)" [isSelected]></msg-user>
-->

<p>Value of disable in UserList:= {{disabled}}</p>

<msg-user
  usrInd="1"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 1</msg-user>

<msg-user
  usrInd="2"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 2</msg-user>

<msg-user
  usrInd="3"
  [selectedUsrInd]="selectedIUserInd"
  (setAsSelected)="updateSelectedInd($event)"
>Saban 3</msg-user>

<button (click)="toggle()">toggle disable in List</button>
