div {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
}

.blue-box {
  background-color: blue;
}

.saban {
  color: violet;
}

.active {
  font-weight: bolder;
  font-style: italic;
}
