<div class="supercool superfett">
  Hallo
</div>

<div [class]="className">
  hallo
</div>

<div
  [class.superfett]="isFett"
  [class.supercool]="isUnderlined"
>
  hallo
</div>

<button (click)="toggleFett()">toggle Fett</button>
<button (click)="toggleUnderlined()">toggle Underlined</button>

<input type="text" (keydown)="keyDown($event)">

<msg-countdown></msg-countdown>

<msg-user-list [disabled]="disableList">
</msg-user-list>


<button (click)="disableList = !disableList">toggle disable</button>
