
h1 {
  color: red
}

hb-user {
  color: blue;
}

div {
  display: inline-block;
  background-color: cornsilk;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.selected {
  background-color: chartreuse;
}
