<ng-content select="avaya-title"></ng-content>

<div #label> {{ getNameAndAge () }} {{selectedInd}}</div>
<hr>
<avaya-list-item
        [isSelected]="selectedInd===0"
        (click)="setInd(0, $event)"
            >Saban 0</avaya-list-item>
<avaya-list-item
        [isSelected]="selectedInd===1"
        (click)="setInd(1, $event)"
            >Saban 1 </avaya-list-item>
<avaya-list-item
        [isSelected]="selectedInd===2"
        (click)="setInd(2, $event)"
            >Saban 2 </avaya-list-item>
<avaya-list-item
        [isSelected]="selectedInd===3"
        (click)="setInd(3, $event)"
            >Saban 3 </avaya-list-item>
<avaya-list-item
        [isSelected]="selectedInd===4"
        (click)="setInd(4, $event)"
            >Saban 4</avaya-list-item>
