

<gfk-list-title>{{titel}}</gfk-list-title>

               <!--[ngClass]="getEvenOddClasses( e )"-->
<gfk-list-item *ngFor="let val of valueList; let i = index, let e = even "
               [ngClass]="{ selected: selectedUsrInd===i, even : e, odd : !e }"
               [ngStyle]="{'padding-left': e?0:'3px'}"
               [gfkHover]="'green'"
               (click)="selectUsr( i )">

    <span *ngIf="parse">{{parse(val)}}</span>

    <span *ngIf="parse === undefined && columns === undefined">{{val}}</span>

    <template [ngIf]="parse === undefined && columns">
        <span *ngFor="let col of columns">{{val[col]}} </span>
    </template>


</gfk-list-item>



