:host {
  display: block;
  padding-top: 10px;

  avaya-list-item {
    cursor: pointer;
    &.selected {
      text-decoration: underline;
      cursor: default;
    }
  }

  .red {
    color: red;
  };

  .border {
    border: solid red thick;
  };


}

