
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let model of inputModels" class="form-row">
      <gfk-dynamic-input [inputModel]="model" [form]="form"></gfk-dynamic-input>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
  <div *ngIf="payload" class="form-row">
    <strong>Saved the following values</strong><br>{{payload}}
  </div>
</div>


<p>{{ this.form.value | json}}</p>
<p>{{ this.form.valid | json}}</p>

<button (click)="testChg()">Change Valie of Controller</button>