:host {
  color: darkturquoise;
  display: block;
  &.selected {
    color: red;
  }
  &.even {
    background-color: yellow;
  }
  &.odd {
    background-color: #e2e200;
  }
  &.large {
    font-size: xx-large;
  }
}

// mit deep def. d.h. ohne Attribute Zusatz
/deep/ h2 {
  color: red;
}

h2 {
  color: blue;
}

.supercool {
  text-decoration: none;
  font-style: italic;
}

