// user.com
:host {
  display: block;
  padding: 5px;
  margin: 0;
  &.even {
    background-color: darkturquoise;
  }
  &.odd {
    background-color: #00e8eb;
  }
  &.blink {
    // text-decoration: blink;
    // color: #deda0d;
  }
}
