/* You can add global styles to this file, and also import other style files */

@import './app/app.variables';

body {

  background-color: $maincolor;
  font-family: $fontFamily;

  h1 {
    font-size: xx-large;

    &.active {
      font-style: italic;
    }
  }


}

.show-as-italic {
  font-style: italic;
}

.active {
  color: #756be6;
  font-weight: bolder;
}

.even {
  display: block;
  background-color: #ffe31b;
}
.odd {
  display: block;
  background-color: #fffffb;
}